.card-container {
    cursor: pointer;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.profile_photo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    object-fit: cover;
}

.username {
    font-size: 1.0rem;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.user-bio {
    font-size: 1rem;
    line-height: 0.3;
}

.blog-description {
    text-align: justify;
    margin: 2rem;
    margin-left: 0.8rem;
}

.blog-description-paragraph {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 800px;
    font-size: 1.5rem;
    font-family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.blog_card {
    cursor: pointer;
    margin: 1rem;
}

.blog-image {
    width: 140px;
    height: 150px;
    margin-left: 8rem;
}

.blog-title {
    font-size: 2.5rem;
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tags-container {
    display: flex;
    margin-left: 2rem;
    margin-top: 0;
}

.tags {
    background-color: rgba(242, 242, 242, 1);
    color: black;
    padding: 0.8rem;
    border-radius: 15%;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}