.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.profile-photo {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.username {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.user-bio {
    font-size: 1rem;
    line-height: 0.2;
}

.blog-description {
    text-align: justify;
    margin: 2rem;
}

.changeBlogConfig{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

