.profile-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.profile-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-username {
    font-weight: 500;
    margin-left: 3px;
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.profile-menu {
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 5px #00000033;
    padding: 0.8px 0;
    background-color: white;
}

.profile-menu a {
    color: #333;
    font-size: 2rem;
   
    padding: 8px 15px;
}

.profile-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-item {
    background-color: white;
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.logo-container {
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.App-logo {
    margin-top: 0;
    height: 90px;
    width: 100px;
}